$theme-colors: (
  primary: #6ddbf2,
  secondary: #101010,
  color-white: #fff,
);

%smooth-hover {
  scroll-behavior: smooth;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}