@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/mmenu-light/dist/mmenu-light";
@import 'components/fonts';
@import 'variables';
@import 'mixins';
@import 'components/header';
@import 'components/frontpage';
@import 'components/swiper';
@import 'components/cookie-consent';
@import 'components/about';
@import 'components/blog';
@import 'components/post';
@import 'components/contact';
@import 'components/privacy';
@import 'responsive';

html{
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }
}

body{
  margin: 0;
  @extend %smooth-hover;
  font-family: 'Asty-Regular', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }

  .hue-rotate-effect {
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
  }

  main{
    background: map-get($theme-colors, secondary);
    overflow-x: hidden;
  }

  a{
    @extend %smooth-hover;
    &:hover{
      opacity: 0.8;
    }
  }

  h1,h2{
    font-family: 'Asty-Bold', sans-serif;
  }

  .material-icons {
    font-family: 'Material-Icons-Outlined-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
}