@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/swiper/swiper";
@import 'components/fonts';
@import 'variables';
@import 'mixins';
@import 'responsive';
@import 'components/header';
@import 'components/frontpage';
@import 'components/swiper';
@import 'components/cookie-consent';

body{
  margin: 0;
  @extend %smooth-hover;
  font-family: 'Asty-Regular', sans-serif;

  h1,h2{
    font-family: 'Asty-Bold', sans-serif;
  }
}

%smooth-hover {
  scroll-behavior: smooth;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}