.page-id-46{
  .about-section{
    min-height: 90vh;

    .about-title{
      h1{
        @include clamp('font-size', 7vw, 50rem, 3.52vw);
        color: map-get($theme-colors, color-white);
      }
    }

    .about-arrow-headings{
      color: map-get($theme-colors, color-white);
      h2{
        width: fit-content;
        @extend %smooth-hover;
        cursor: pointer;
        font-family: 'Asty-Regular';
        @include clamp('font-size', 2rem, 4rem, 3.52vw);

        &:hover{
          transform: translateX(1rem);
        }
        
        .arrow{
          @extend %smooth-hover;
          @include clamp('font-size', 1.5rem, 2.75rem, 3.52vw);
          margin-right: .5rem;
        }

        .current-item{
          color: map-get($theme-colors, primary);
        }

        .current-arrow{
          color: map-get($theme-colors, primary);
          transform: rotate(90deg);
        }
      }

      p{
        @extend %smooth-hover;
        @include fade-in;
        @include clamp('font-size', .75rem, 2rem, 3.52vw);
        opacity: 0;

        &.is-visible {
          animation: fadeIn 0.5s ease forwards; // 'forwards' keeps the final state
        }
      }
    }
  }
}