.cc-nb-main-container {
  padding: 2.35rem;
  font-family: 'Asty-Regular', sans-serif;
  position: fixed;
  bottom: 0;
  background: map-get($theme-colors, secondary);
  width: 100vw;
  .cc-nb-title-container{
    #cc-nb-title {
      font-size: 20px;
    }
  }

  .cc-nb-buttons-container{
    .cc-nb-okagree {
      @include common-transition;
      background-color: map-get($theme-colors, primary);
    }
    .cc-nb-reject {
      @include common-transition;
      color: map-get($theme-colors, secondary);
      background-color: map-get($theme-colors, primary);
    }
  }
}

a#open_preferences_center {
  @include common-transition;
  cursor: pointer;
  bottom: 1.5rem;
  left: 1.25rem;
  width: 50px;
  height: 50px;
  background-color: map-get($theme-colors, primary);
  color: black;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.7;

  &:hover{
    opacity: 0.8;
  }

  .cookie{
    top: 12px;
    left: 12px;
  }
}

.termsfeed-com---pc-overlay{
  .termsfeed-com---pc-dialog{
    .cc-pc-container{
      padding: 2rem;
      background: map-get($theme-colors, secondary);
      border-radius: 25px;
      .cc-pc-head{
        background: map-get($theme-colors, secondary);
        .cc-pc-head-close{
          border-color: transparent;
          @extend %smooth-hover;
          &:hover, &:active {
            border-color: map-get($theme-colors, primary);
          }
        }

        .cc-pc-head-lang-select{
          color: map-get($theme-colors, color-white);
          background: map-get($theme-colors, secondary);
          border-color: transparent;
          @extend %smooth-hover;
          &:hover, &:active {
            border-color: map-get($theme-colors, primary);
          }
        }
      }
  
      .cc-cp-body-content{
          background: map-get($theme-colors, secondary) !important; // can't override a third party !important rule so another !important had to be used
        .cc-cp-body-content-entry{
          background: map-get($theme-colors, secondary);
        }
      }
      .cc-cp-body-tabs{
        background: map-get($theme-colors, secondary);
        .cc-cp-body-tabs-item-link{
          background: map-get($theme-colors, secondary);
        }
        .cc-cp-body-tabs-item{
          background: map-get($theme-colors, secondary);
        }
      }
  
      .cc-cp-foot{
        background: map-get($theme-colors, secondary);
        .cc-cp-foot-save{
          @extend %smooth-hover;
          background-color: map-get($theme-colors, primary);
        }
      }
    }
  }
}







