@font-face {
  font-family: 'Asty-Black';
  src: url('../fonts/Asty/AstyCFStdBlack.otf');
}

@font-face {
  font-family: 'Asty-Bold';
  src: url('../fonts/Asty/AstyCFStdBold.otf');
}

@font-face {
  font-family: 'Asty-Thin';
  src: url('../fonts/Asty/AstyCFStdThin.otf');
}

@font-face {
  font-family: 'Asty-Regular';
  src: url('../fonts/Asty/AstyCFStdBook.otf');
}