.main-menu{
  z-index: 10000;
  background-color: map-get($theme-colors, secondary);
  min-height: 10vh;
  a{
    @extend %smooth-hover;
    color: map-get($theme-colors, color-white);
    &:hover{
      color: map-get($theme-colors, primary);
    }

    .menu-icon{
      font-size: 3rem;
    }
  }
  
  .alexx-website-logo{
    width: 50px;
    @extend %smooth-hover;
      &:hover{
        opacity: 0.7;
      }
  }
}

// mmenu

.mm-ocd__content{
  min-width: 100%;
}

.mm-spn.mm-spn--navbar:after {
  content: '';
  display: none;
}

.mm-spn.mm-spn--navbar ul:before {
  content: "";
  display: none;
}

.mm-spn.mm-spn--light{
  background: map-get($theme-colors, secondary);
  color: map-get($theme-colors, color-white);
}

.mm-spn li:before {
  display: none;
  content: "";
}

.mm-spn li:after {
  content: "";
  display: none;
}

.mm-spn ul:after {
  content: "";
  display: none;
}

.mm-spn a{
  @include clamp('font-size', 3rem, 5rem, 3.52vw);
  font-family: 'Asty-Thin';
  @include clamp('margin-left', 1rem, 3rem, 3.52vw);
  @include clamp('line-height', 4rem, 7rem, 4.52vw);
}

.mm-ocd{
  top: auto;
  bottom: 0;
  height: 90vh;
}

