.main-menu{
  background-color: map-get($theme-colors, secondary);
  min-height: 10vh;
  a{
    @extend %smooth-hover;
    color: map-get($theme-colors, color-white);
    &:hover{
      color: map-get($theme-colors, primary);
    }

    .menu-icon{
      font-size: 3rem;
    }
  }
  
  .alexx-website-logo{
    width: 50px;
    @extend %smooth-hover;
      &:hover{
        opacity: 0.7;
      }
  }
}