.privacy-policy{
  .privacy-section {
    min-height: 90vh;
  }

  h2{
    @include clamp('font-size', 0.65rem, 1rem, 3.52vw);
    font-size: 1rem;
  }

  p{
    @include clamp('font-size', 1.25rem, 1.95rem, 3.52vw);
    color: map-get($theme-colors, primary);
  }
}

