.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
  .swiper-slide {
    max-height: 90vh;
    position: relative;
    text-align: center;
    
    img {
      -moz-transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out, opacity 0.5s;
      -webkit-transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out, opacity 0.5s;
      -o-transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out, opacity 0.5s;
      transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out, opacity 0.5s;
      width: 100%;
      height: auto;
      object-fit: cover;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
      &:hover{
        transform: scale(1.1);
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        opacity: .95;
      }
    }
  
    .slide-heading{
      color: #fff;
      @include clamp('font-size', 2rem, 5rem, 3.52vw);
      background-color: rgba(16, 16, 16, .7019607843);
      padding: 1rem;
      width: 100vw;
    }

    .slide-text {
      font-family: 'Asty-Thin';
      color: #fff;
      @include clamp('font-size', 1.25rem, 3rem, 3.52vw);
      padding: 1rem;
    }

    .slide-cta {
      -moz-transition: filter 0.5s ease-in-out, opacity 0.5s;
      -webkit-transition: filter 0.5s ease-in-out, opacity 0.5s;
      -o-transition: filter 0.5s ease-in-out, opacity 0.5s;
      transition: filter 0.5s ease-in-out, opacity 0.5s;
      @include clamp('font-size', 1rem, 1.75rem, 3.52vw);
      padding: 1rem 3rem;
      background-color: #6ddbf2;
      color: #000;
      border-radius: 50px;
      opacity: .7;
      text-decoration: none;
      letter-spacing: .1rem;
    }
  }
  
  //buttons styles
  
  .swiper-button-next:after, .swiper-button-prev:after{
    color: white;
  }
  
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    margin-left: 1.75rem;
  }
  
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    margin-right: 1.75rem;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }
    
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px));
    background: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .7);
    border: solid 2px #fff;
  }

  .swiper-pagination-bullet-active {
    background: transparent;
    opacity: var(--swiper-pagination-bullet-opacity, .7);
    border: solid 2px #6ddbf2;
  }
}


